<!-- Bandeau du haut -->
  <div class = "container bandeauContainer" id = "bandeauContainer">
    <div class = "row bandeau">
      <div class= "col-xs-3">
        <div class="short-div"><p id="label-univers">Univers</p></div>
        <div class="short-div"><p id="label-targets">Cibles</p></div>
        <div class="short-div"><p id="label-fire">Feu !!!</p></div>
      </div>
      <div class= "col-xs-9>"><img id="logo" src="/logo.png"/></div>
    </div>
  </div>
