<div class="row">    <!-- Row : target name       -->
  <div class= "col-xs-12 short-div">
    <input type="text" class="form-control" placeholder="Nom de la cible" id="targetName"></input>
  </div>
</div>
