<div class="row">    <!-- Row : image URL       -->
  <div class="imageupload">
    <div class= "col-xs-11 short-div">
        <input type="text" class="form-control" placeholder="URL de l'image" id="imageUrl"></input>
    </div>
    <div class= "col-xs-1 short-div">
        <button type="button" class="btn btn-url" value="Charger" onclick="javascript:loadImage()">
          <img src="/link-icon.png" id="linkIcon"> </img>
        </button>
        <!-- The URL is stored here. -->
        <input type="hidden" name="image-url" />
    </div>
  </div>
</div>
