<!DOCTYPE html>

<html>
  <head>
    <link href='target.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1><%= targetTitle%></h1>
    <div class='targetImage'>
      <img src='<%= targetImage%>' alt='Image for <%= targetTitle%>'
      class='targetImg'>
    </div>
  </body>
</html>
