<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
  </head>
  <body onload="buildUpPage()">
    <% include includes/elt-bandeau %>    <!-- Bandeau de présentation  -->
    <div class = "container mainContainer" id = "mainContainer">
      <div class="row" id="galleryUnivers">    <!-- Row : thumbnail          -->
      </div>
    </div>
  </body>
  <% include tools/thumbnail %>
  <script>
  function buildUpPage() {
    var univers = <%- universList %>
    // Select the correct button
    document.getElementById("label-univers").setAttribute("class", "label-selected")
    document.getElementById("label-targets").setAttribute("class", "label-unselected")
    document.getElementById("label-fire").setAttribute("class", "label-unselected")
    // Create the thumbnails
    createThumbnail(univers, "galleryUnivers", "/univers/", false)
  }

  </script>
</html>
