<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
    <% include includes/head-google %>
  </head>
  <body onload="buildUpUniversCarousel()">
    <div class='container-fluid'>
      <div class='row'> <!-- Ligne de connexion -->
        <div class='col-sm-12'>
          <div class='g-signin2' data-onsuccess="onSignIn"></div>
          <div><a href="#" onclick="signOut();">Sign out</a></div>
        </div>
      </div>  <!-- Fin de ligne de connexion -->
      <div class='row'> <!-- Ligne caroussel d'univers -->
        <div class='col-sm-12' id='univers'></div>
      </div> <!-- Fin de ligne caroussel d'univers -->
    </div>
  </body>
  <% include tools/google %>
  <% include tools/carousel %>
  <script>
  function buildUpUniversCarousel() {
    var carouselId="carouselUnivers"
    var wrapperId="wrapperUnivers"
    var univers = <%- universList %>
    var first=true
    addCarouselToContainer('univers', carouselId)
    addIndicatorsToCarousel(carouselId, univers.univers.length)
    addWrapperToCarousel(carouselId, wrapperId)
    for (let u of univers.univers) {
      addItemToCarousel(wrapperId, {
        name: u.name,
        image: u.backgroundImage,
        alternativeText: u.description,
        active: first,
        type: "univers"
      })
      first=false
    }
    addCarouselControl(carouselId)
    }

  </script>
  </html>
