<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
  </head>
  <body onload="buildUpPage()">
    <% include includes/elt-bandeau %>
    <div class = "container mainContainer" id = "mainContainer">
      <% include includes/elt-universname %>
      <% include includes/elt-targetname %>
      <% include includes/elt-urlimage %>
      <!-- Row : target            -->
      <div class="row"><div class= "col-xs-12" id="targetGrid"></div></div>
      <!-- Row save -->
      <div class="row">
        <% include includes/elt-valid.ejs %>
      </div>
    </div>

    </div>
  </body>
  <% include includes/elt-grid %>
  <% include tools/savingOnServer %>
  <% include tools/zoneMgnt.ejs %>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  function buildUpPage() {
    var universName = "<%- universName %>"
    zoneColor = null
    zoneName = null
    // Univers name
    document.getElementById("universName").innerHTML = universName

    // Select the correct button
    document.getElementById("label-univers").setAttribute("class", "label-unselected")
    document.getElementById("label-targets").setAttribute("class", "label-unselected")
    document.getElementById("label-fire").setAttribute("class", "label-selected")
    document.getElementById("label-fire").innerHTML = "Créer une cible"

    // grid
    tableCreate()
    zonesCreate()

    // Socket management
    client = io.connect('http://target-rpg.herokuapp.com/:1992')
  }
  </script>
  </html>
