<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
    <% include includes/head-google %>
  </head>
  <body onload="buildUpTarget()">
    <div class='row'> <!-- Ligne de titre -->
      <div class='col-sm-12'><h1 id='targetName'>Test</h1></div>
    </div> <!-- Fin ligne de titre -->

  </body>
  <% include tools/google %>
  <script>
  function buildUpTarget() {
    var targetData = <%- targetData %>
    var tgtName = <%- targetName %>
    document.getElementById('targetName').innerHTML = tgtName
    alert(tgtName)
  }
  </script>
  </html>
