<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
    <script>

    </script>
  </head>
  <body onload="buildUpPage()">
    <% include includes/elt-bandeau %>
    <div class = "container mainContainer" id = "mainContainer">
      <% include includes/elt-universname %>
      <% include includes/elt-urlimage %>
      <div class="row">    <!-- Row : target            -->
        <div class= "col-xs-12" id="targetGrid"></div>
      </div>

    </div>
  </body>
  <% include includes/elt-grid %>
  <script>
  function buildUpPage() {
    var universName = "<%- universName %>"
    zoneColors = "rgba(44, 55, 86, 0.5)"
    // Univers name
    document.getElementById("universName").innerHTML = universName

    // Select the correct button
    document.getElementById("label-univers").setAttribute("class", "label-unselected")
    document.getElementById("label-targets").setAttribute("class", "label-unselected")
    document.getElementById("label-fire").setAttribute("class", "label-selected")
    document.getElementById("label-fire").innerHTML = "Créer une cible"

    // grid
    tableCreate()

  }
  </script>
  </html>
