<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
    <% include includes/head-google %>
  </head>
  <body>
    <p><%- req %></p>
  </body>
</html>  
