<!DOCTYPE html>

<html lang='fr'>
  <head>
    <% include includes/head-global %>
    <% include includes/head-bootstrap %>
  </head>
  <body onload="buildUpPage()">
    <% include includes/elt-bandeau %>
    <div class = "container mainContainer" id = "mainContainer">
      <% include includes/elt-universname %>
      <div class="row" id="galleryTargets">  <!-- Row : thumbnail          -->
      </div>
  </body>

  <% include tools/thumbnail %>
  <script>
  function buildUpPage() {
    var univers = <%- thisUnivers %>
    var universData = <%- universData %>
    // Select the correct button
    document.getElementById("label-univers").setAttribute("class", "label-unselected")
    document.getElementById("label-targets").setAttribute("class", "label-selected")
    document.getElementById("label-fire").setAttribute("class", "label-unselected")
    document.getElementById("universName").innerHTML = univers.name
    createThumbnail(universData[univers.name].targets, "galleryTargets", "/" + univers.name + "/", true)
  }
  </script>
  </html>
