:root {
  --COLOR-BANDEAU-BCKGD: #2C3756;
  --COLOR-PAGE-BCKGD: #A6A4AA;
  --COLOR-MAIN-BCKGD: var(--COLOR-PAGE-BCKGD);
  --COLOR-LABEL-SELECTED: #8EB015;
  --COLOR-LABEL-UNSELECTED: #E6F0BB;
  --COLOR-TEXT-SELECTED: #405E01;
  --COLOR-TEXT-UNSELECTED: #FFFFFF;
  --COLOR-BORDERS: var(--COLOR-BANDEAU-BCKGD);
  --COLOR-BGD-FIELD: var(--COLOR-TEXT-UNSELECTED);
  --COLOR-IMPACTS: #DC022E;


  --OPACITY-BRUSH: 0.75;
  --OPACITY-IMPACTS: 0.5;

  --ICONS-WIDTH: 42px;
}
body  {
  margin: 0;
  background-color: var(--COLOR-PAGE-BCKGD) !important;
}

.bandeauContainer {
  background-color: var(--COLOR-BANDEAU-BCKGD);
  padding-top: 10px;
}

.mainContainer {
  background-color: var(--COLOR-PAGE-BCKGD);
  margin: 15px;
}

.imgThumbnails {
  margin: 0px;
  border-style: solid;
  border-width: medium;
  border-color: var(--COLOR-BORDERS);
  border-radius: 10px;
}

.label-selected, .label-unselected, .label-result, .result-field, .label-univers, .label-target, .form-control, .btn-url {
  border: solid medium var(--COLOR-BORDERS) !important;
  border-radius: 10px;
  background-color: var(--COLOR-LABEL-UNSELECTED);
  color: var(--COLOR-TEXT-SELECTED);
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

.label-selected {
  background-color: var(--COLOR-LABEL-SELECTED);
  color: var(--COLOR-TEXT-UNSELECTED);
  font-weight: bold;
}

.label-univers {
  margin-top: 2px;
  font-size: 1.125em;
}

.label-target, .label-result, .result-field {
  margin-top: 2px;
  font-size: 0.875em;
  margin-bottom: 0;
  background-color: var(--COLOR-BANDEAU-BCKGD);
  text-align: left;
  color : var(--COLOR-TEXT-UNSELECTED);
  border-radius: 8px;
}

.form-control {
  text-align: left;
  background-color: var(--COLOR-LABEL-UNSELECTED) !important;
  border-radius: 8px !important;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.btn-url {
  background-color: var(--COLOR-LABEL-UNSELECTED);
  border-radius: 8px !important;
  float: left;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
 #linkIcon {
   height: 15px;
 }

.label-target  {
  border-radius: 8px 8px 0 0;
}

.label-result, .result-field {
  margin-bottom: 2px;
}

.result-field {
  background-color: var(--COLOR-BGD-FIELD);
  color: var(--COLOR-BANDEAU-BCKGD);
  border-color: var(--COLOR-BORDERS);
}

#logo {
  float: right;
  max-width: 200px
}

.thumbnail {
    padding: 0px !important;
    border: none !important;
    margin-top: 2px !important;
    background-color: transparent !important;
}

.caption {
  text-align: center;
}
.targetImage {
    margin: 0;
    width: calc(100% - 30px);
    height: auto;
    border: solid medium var(--COLOR-BANDEAU-BCKGD);
    border-radius: 0 0 8px 8px;
    background-color: var(--COLOR-PAGE-BCKGD);
    position: relative;
}

.selectpicker {
  float: left  ;
}

#targetCol {
  overflow: hidden;
  line-height: 0;
  padding: 0;
  width: calc(100%);
  margin-left: 15px;
}

.impact, .ajustement, .finalImpact, .brush {
  border-radius: 100%;
  opacity: var(--OPACITY-BRUSH);
  margin: 0;
  width: 100%;
  height: auto;
}

.impact, .ajustement, .finalImpact {
  position: absolute;
  border: solid medium var(--COLOR-BANDEAU-BCKGD);
  background-color: var(--COLOR-IMPACTS);
}

.ajustement {
  opacity: var(--OPACITY-IMPACTS);
}

.finalImpact {
  background-color: var(--COLOR-LABEL-SELECTED);
}

.table {
  margin: 0 auto !important;
  float: none;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

#grid {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px ;
  margin-right: -15px;
  width: 50%;
}

.brush {
  width: var(--ICONS-WIDTH);
  border-width: thin;
  border-style: ridge;
  border-color: var(--COLOR-BORDERS);
}

.brush-name {
  width: calc(var(--ICONS-WIDTH)*2) !important;
}
#valid {
  width: var(--ICONS-WIDTH);
  float: right;
}
