body  {
  margin: 0;
  background-color: #A6A4AA !important;
}

.bandeauContainer {
  background-color: #2C3756;
  padding-top: 10px;
}

.mainContainer {
  background-color: #A6A4AA;
  margin: 15px;
}

.imgThumbnails {
  margin: 0px;
  border-style: solid;
  border-width: medium;
  border-color: #2C3756;
  border-radius: 10px;
}

.label-selected, .label-unselected, .label-result, .result-field, .label-univers, .label-target, .form-control, .btn-url {
  border: solid medium #2C3756 !important;
  border-radius: 10px;
  background-color: #E6F0BB;
  color: #405E01;
  font-size: 1em;
  padding: 5px;
  text-align: center;
}

.label-selected {
  background-color: #8EB015;
  color: #FFFFFF;
  font-weight: bold;
}

.label-univers {
  margin-top: 2px;
  font-size: 1.125em;
}

.label-target, .label-result, .result-field {
  margin-top: 2px;
  font-size: 0.875em;
  margin-bottom: 0;
  background-color: #2C3756;
  text-align: left;
  color : #FFFFFF;
  border-radius: 8px;
}

.form-control {
  text-align: left;
  background-color: #E6F0BB !important;
  border-radius: 8px !important;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.btn-url {
  background-color: #E6F0BB;
  border-radius: 8px !important;
  float: left;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
 #linkIcon {
   height: 15px;
 }

.label-target  {
  border-radius: 8px 8px 0 0;
}

.label-result, .result-field {
  margin-bottom: 2px;
}

.result-field {
  background-color: #FFFFFF;
  color: #2C3756;
  border-color: #FFFFFF;
}

#logo {
  float: right;
  max-width: 200px
}

.thumbnail {
    padding: 0px !important;
    border: none !important;
    margin-top: 2px !important;
    background-color: transparent !important;
}

.caption {
  text-align: center;
}
.targetImage {
    margin: 0;
    width: calc(100% - 30px);
    height: auto;
    border: solid medium #2C3756;
    border-radius: 0 0 8px 8px;
    background-color: #A6A4AA;
    position: relative;
}

.selectpicker {
  float: left  ;
}

#targetCol {
  overflow: hidden;
  line-height: 0;
  padding: 0;
  width: calc(100%);
  margin-left: 15px;
}

.impact, .ajustement, .finalImpact {
  position: absolute;
  background-color: #dc022e;
  border-radius: 100%;
  opacity: 0.75;
  margin: 0;
  width: 100%;
  height: auto;
  border: solid medium #2C3756;
}

.ajustement {
  opacity: 0.5;
}

.finalImpact {
  background-color: #8EB015;
}

.table {
  margin: 0 auto !important;
  float: none;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

#grid {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 8px ;
  margin-right: -15px;
  width: 50%;
}

#valid {
  height: 42px;
  float: right;
}
